<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="RenderCaption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenClearInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="InterImageInterval" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CaptionFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="UseWDS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhotoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanSubdirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatchPhotoPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WDSQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBackgroundColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBackgroundImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageHeightInches" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="ImageWidthInches" serializeAs="String">
                <value>2.5</value>
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>